.edit-profile-container {

  margin: 0 5px;

  form {
    height: 100% !important;
  }

  #image-text {
    color: #0f1e3c;
    text-align: left;
    margin-left: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;  
  }
}