.edit-profile-container {

  margin: 0 5px;

  form {
    height: 100% !important;
  }

  #image-text {
    color: #0f1e3c;
    text-align: left;
    margin-left: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;  
  }
}

#second-container {
  background-color: #ff69b4;
  margin-top: 15px;
  background: #ff69b4;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
  border: solid 5px white;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

#delete-profile-text {
  font-size: 18px;
  font-weight: 700;
}

.delete-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.delete {
  background-color: red;
  color: white;
  font-size: 14px;
}

#gig-picture {
  margin-top: 25px;
}