form {
  
  display: flex;
  flex-direction: column;
  background-color: #0f1e3c !important;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
  border: solid 5px white;

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
  }

  input {
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    height: 30px;
  }

  .btn {
    background-color: rgb(78,92,34);
    border: rgb(78,92,34);
    height: 20px;
  }

}