form {
  height: 70%;
  display: flex;
  flex-direction: column;
  background: #ff69b4;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
  border: solid 5px white;
  border-radius: 15px;
  font-family: 'M PLUS 1p', sans-serif;

  .form-control {
    line-height: 1.2 !important;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #0f1e3c;
    font-family: 'M PLUS 1p', sans-serif;
  }

  input {
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
    color: #0f1e3c;
  }

  .btn {
    background-color:  #0f1e3c;
    border: #0f1e3c;
    color: white;
  }
}