
.navbar {
  box-shadow: 0 5px 5px rgba(0,0,0,.2); 
  padding: 0;
  background-color: #ff69b4 !important;


}

.logo {
  width: 60px;
  padding: 10px 0px 10px 0px ;
}

.nav-link {
  color: #0f1e3c !important;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 700;
  height: 10%;
}

