.left-col {
  height: 100%;

  .user-info {
    justify-content: center;

    .profile-pic {
      width: 200px;
      margin-top: 7%;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
      border: solid 5px white;
      padding: 0;
      border-radius: 15px;
    }

    .user-info {
      margin-top: 15px;
      background: #ff69b4;
      text-align: center;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
      border: solid 5px white;
      width: 80%;
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
      p {
        color:#0f1e3c;
        font-weight: 600;
        font-size: 18px;
      }

      .username {

        font-size: 30px;
        font-weight: 800;
      }

      .toggle-button {
        background-color: #0f1e3c;
        border: #0f1e3c;
        width: 50%;
        color: white;
        border-radius: 5px;
        padding: 10px 0;
        text-decoration: none;
        margin-top: 10px;
        font-weight: 600;
        font-size: 16px;
        color: #ff69b4;

      }

      .delete {
        background-color: red;
        color: white;
        width: 30%;
        font-size: 14px;
      }

      a {
        background-color: #0f1e3c;
        border: #0f1e3c;
        width: 50%;
        color: white;
        border-radius: 5px;
        padding: 10px 0;
        text-decoration: none;
        margin-top: 10px;
      }

    }


  }

  .following-collection-wrapper {
    overflow-x: hidden;
    margin-top: 15px;
    padding: 15px;
    background: #ff69b4;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
    border: solid 5px white;
    border-radius: 15px;

    p {
      color: #0f1e3c;
      font-weight: 600;
      font-size: 16px;
    }

    h4 {
      font-weight: 700;
    }

    


  }


}

.right {

  h4{
    font-size: 70px;
    font-weight: 700;
    margin-top: 5%;
  }
}

.gig-container {
  padding: 0;
  margin-bottom: 15px;
}

.gig-card {
  overflow: hidden;
}