.search-user-field-wrapper {
  margin: 35px 0;
  display: flex;
  justify-content: space-around;

  h2 {
    font-weight: 700;
  }

  input {
    border: none;
    border-radius: 5px;
    width: 300px;
    text-align: center;
    margin: 0px 20px 0px 0px;
  }
}



@media (max-width: 767px) {
  .search-user-field-wrapper {
    display: block;

    input {
      margin: 0 0 15px 0;
    }
}
  .search-mob {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-right: 100px;
  }

  .card {
    width: 180px;
  }
}

#search-users-text {
  margin-left: 3px;
  font-size: 14px;
  margin-bottom: 0px;
  color: #ff69b4;
  font-weight: 600;
}

#search-users-title {
  margin-top: 5px;
  
}

#span-card {
  color: #0f1e3c;
}

.card { 
  border: none;
}