.left {

  .desktop-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    margin-top: 55px;




    img {

      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
      border: solid 5px white;
      border-radius: 15px;
      max-height: 360px;
      max-width: 450px;



    }
  }
}



.gig-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
  background: #ff69b4;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
  border: solid 5px white;
  width: 80%;
  padding: 15px 0;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 15px;
  min-height: 730px;

  h1 {
    font-weight: 800;
    margin-top: 15px;
    color: #0f1e3c !important;
  }

  .mobile-image {
    width: 270px;
    margin-top: 7%;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
    border: solid 5px white;
    padding: 0;
    border-radius: 15px;


  }

  .toggle-button {
    background-color: #0f1e3c;
    width: 40%;
    color: ff69b4;
    border-radius: 5px;
    padding: 10px 0;
    text-decoration: none;
    margin-top: 10px;
    box-shadow: 0 0 40px 40px #0f1e3c inset, 0 0 0 0 #0f1e3c;
    transition: all 350ms ease-in-out;

    &.toggle-button-link {
      color: #ff69b4;
      text-decoration-color: #ff69b4;
    }

    &:hover {
      box-shadow: 0 0 10px 0 #091224 inset, 0 0 10px 4px #091224;
    }
  }
}

.toggle-button-edit {
  background-color: #0f1e3c;
  border: #0f1e3c;
  border-radius: 5px;
  color: pink;
  padding: 10px 10px 10px 10px;
  font-size: 10px;
  font-weight: 600;
  margin-right: 10px;
  text-decoration: none;
  margin-top: 10px;

  &.toggle-button-link {

    text-decoration-color: black;
  }
}

.toggle-button-delete {
  background-color: red;
  border: #0f1e3c;
  padding: 5px 5px 5px 5px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 20px;

  &.toggle-button-link {
    color: wheat;
    text-decoration-color: wheat;
  }
}

.toggle-button-delete>a {
  color: wheat;
}

.review-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ff69b4;
  text-align: center;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
  border: solid 5px white;
  width: 100%;
  padding: 15px 0;
  margin-right: 10px;
  margin-left: 10px;

  border-radius: 15px;



  h2 {
    font-weight: 800;
    color: #0f1e3c;
  }
}

p {
  color: #0f1e3c;
}

h2 {
  color: #0f1e3c;
}

.slider {
  overflow-x: scroll;
  //height: 20%;
}

.slider::-webkit-scrollbar {
  display: none;
}

.review-container {
  max-width: 90%;
  display: flex;

  padding: 10px 0;
  margin-bottom: 5px;
  border-radius: 5px;
  justify-content: center;

  .review-content {
    margin: 0;
    padding: 10px;

  }

}



#review-text::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar in WebKit browsers (Safari/Chrome) */
}

#review-owner {
  font-weight: 900;
  margin-bottom: 5px;
  min-width: 120px;

  a {
    color: #0f1e3c;
    font-size: 12px;

  }
}



#review-text {
  overflow-y: hidden;
  width: 450px;
  text-align: left;
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
}

.edit-delete {
  margin-bottom: 25px;
}

#delete-review {
  font-size: 10px;
  padding: 4px;
  max-height: 20px;
  margin-top: 12px;
  box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
  transition: all 150ms ease-in-out;
  display: none;
  /* Hide the delete button by default */
}

#delete-review:hover {
  background-color: rgb(150, 7, 7);
  box-shadow: 0 0 10px 0 rgb(150, 7, 7) inset, 0 0 10px 4px rgb(150, 7, 7);
}

/* Show the delete button only when the user owns the review */
#delete-review.show-delete {
  display: inline-block;
}

#review-p {
  margin-bottom: 5px;
}

.span-key {
  color: #0f1e3c;
  font-weight: 800;
}

.span-value {
  color: #0f1e3c;
  font-weight: 600;
  white-space: break-spaces;
}

.span-value-setlist {
  color: wheat;
  font-weight: 600;
  white-space: break-spaces;
}

.span-value-notes {
  color: #0f1e3c;
  font-weight: 600;
  white-space: break-spaces;
}

@media (max-width: 767px) {

  .span-key,
  .span-value {
    font-size: 16px;
  }
  


  .gig-info .toggle-button {
    width: 60%;
    padding: 2%;
  }

  .review-info {
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
    max-height: 350px !important;
  }

  .review-container {
    max-width: 100%;
  }

  #add-gig-button {
    margin-top: 25px;
  }

  #here-review {
    font-weight: 600;
    color: wheat;

    a {
      color: wheat;
    }
  }

  #delete-review {
    margin-right: 8px;
    margin-top: 18px;
  }

  .span-value-setlist {
    color: wheat;
    font-weight: 600;
    white-space: break-spaces;
  }

  .span-value-notes {
    color: #0f1e3c;
    font-weight: 600;
    white-space: break-spaces;
    font-size: 16px !important;
  }

}

#reviews-count {
  font-weight: 800;
  font-size: 14px;
}

#reviews-number {
  font-weight: 800;
  font-size: 14px;
  color: wheat;
}

#reviews-count-lg {
  font-weight: 800;
  font-size: 14px;
  color: #0f1e3c;
}

#reviews-number-lg {
  font-weight: 800;
  font-size: 14px;
  color: wheat;
}

#owner-link {
  display: inline-block;
  padding: 4px 8px;
  background-color: #0f1e3c;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 40px 40px #0f1e3c inset, 0 0 0 0 #0f1e3c;
  transition: all 150ms ease-in-out;
  margin: 10px 0px 10px 0px;
}

#owner-link a {
  text-decoration: none;
  color: #ff69b4;
}

#owner-link:hover {
  box-shadow: 0 0 10px 0 #091224 inset, 0 0 10px 4px #091224;
}


#delete {
  box-shadow: 0 0 40px 40px red inset, 0 0 0 0 red;
  transition: all 150ms ease-in-out;
  margin: 10px 0px 10px 0px;
}

#delete:hover {
  box-shadow: 0 0 10px 0 rgb(150, 7, 7) inset, 0 0 10px 4px rgb(150, 7, 7);
}

#here-review {
  color: wheat;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 40px 40px #0f1e3c inset, 0 0 0 0 #0f1e3c;
  transition: all 150ms ease-in-out;
  line-height: 3;
  margin-right: 7px;
}

#here-review:hover {
  background-color: #102040;
  box-shadow: 0 0 10px 0 #102040 inset, 0 0 10px 4px #102040;

}

#notes {
  width: 90%;
}

#hide {
  display: none !important;
}