.left-col {
  height: 100%;

  .user-info {
    justify-content: center;
    margin-top: 90px;

    .profile-pic {
      max-width: 150px;
      max-height: 210px;
      margin-top: 10px;
      margin-bottom: 25px;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
      border: solid 5px white;
      padding: 0;
      border-radius: 15px;
    }

    .user-info {
      margin-top: 1px;
      background: #ff69b4;
      text-align: center;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
      border: solid 5px white;
      width: 80%;
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;

      p {
        color: #0f1e3c;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 0px;
      }

      .username {

        font-size: 30px;
        font-weight: 800;
        margin-top: 10px;
      }

      .toggle-button {
        background-color: #0f1e3c;
        border: #0f1e3c;
        width: 50%;
        color: white;
        border-radius: 5px;

        text-decoration: none;
        margin-top: 20px;
        font-weight: 600;
        font-size: 16px;
        color: #ff69b4;
        box-shadow: 0 0 40px 40px #0f1e3c inset, 0 0 0 0 #0f1e3c;
        transition: all 150ms ease-in-out;
      }

      .toggle-button:hover {
        background-color: #102040;
        box-shadow: 0 0 10px 0 #102040 inset, 0 0 10px 4px #102040;
      }


      a {
        background-color: #0f1e3c;
        border: #0f1e3c;
        width: 50%;
        color: white;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 10px;
        color: wheat;
      }
    }

    h2 {
      color: #0f1e3c;
    }

  }


  .following-collection-wrapper {
    margin-top: 15px;
    padding: 15px;
    background: #ff69b4;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5), 0 6px 6px 0 rgba(0, 0, 0, 0.5);
    border: solid 5px white;
    border-radius: 15px;
    width: 83%;
    margin-left: 54px;
    overflow-x: auto;

  }

  .following-collection-wrapper p {
    color: #0f1e3c;
    font-weight: 600;
    font-size: 16px;
  }
}


.left-col .following-collection-wrapper {
  scrollbar-color: #0f1e3c #ff69b4;
}

.content-slider.row {
  scrollbar-width: thin;
  overflow-x: auto;
}

.left-col .following-collection-wrapper h4 {
  font-weight: 1000;
  color: #0f1e3c;

}

.card-title {
  color: #0f1e3c;
  font-weight: 700;
  margin-bottom: 5px;
}

#date {
  font-size: 14px;
  color: #0f1e3c;
  margin-left: 1px;
  font-weight: 600;
}

#venue {
  color: #ff69b4;
  font-weight: 700;
  margin-bottom: 5px;
}

.right {

  h4 {
    font-size: 70px;
    font-weight: 700;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.gig-container {
  padding: 10px;
  margin-bottom: 15px;
}

.gig-card {
  overflow: hidden;
}

.card-body {
  min-height: 140px;
}

@media (max-width: 767px) {

  .profile-pic {
    width: 150px !important;
  }

  .card-title {
    font-size: 10px;
  }

  span {
    font-size: 10px;
    color: #0f1e3c;
  }

  .search-bars input {
    border: none;
    border-radius: 5px;
    width: 250px;
    text-align: center;
    margin: 5px 0px 0px 0px;
  }

  .gig-card .card-title,
  .gig-card span {
    white-space: normal;
    display: block !important;
  }

  .card-body {
    min-height: 100px !important;
  }

  #span-profile {
    font-size: 18px;
    font-weight: 800;
    color: #0f1e3c;
  }

  .left-col .user-info {
    margin-top: 20px !important;
  }

  .content-slider .col img {
    margin-top: 5px;
    border: none !important;
  }

  .following-collection-wrapper {
    width: 100% !important;
    margin-left: 0px !important;
  }

  #follow a {
    font-size: 12px;
  }

  #mobile-image {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.search-bars {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  margin: 5px 0px 0px 0px;
}

.profile-p {
  margin-top: 50px;
  color: #ff69b4;
}

.content-slider-vert {
  overflow-y: scroll !important;
  height: 105vh;
}

#h41,
#h42 {
  margin-bottom: 28px;
}

#band-title {
  font-weight: 900;
  font-size: 15px;
}

#venue-title {
  font-weight: 900;
  font-size: 11px;
}

#date-title {
  font-weight: 800;
  font-size: 10px;
  margin-bottom: 40px;
}

.mobile-card-col {
  min-width: 170px;
  margin-bottom: 25px;
  border-right: 1px solid wheat;
}

.card {
  border: none;
}

#span-profile {
  font-weight: 800;
  color: #0f1e3c;
}

#here {
  color: wheat;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 0 40px 40px #0f1e3c inset, 0 0 0 0 #0f1e3c;
  transition: all 150ms ease-in-out;
  line-height: 3;
  margin-left: 5px;
}

#here:hover {
  background-color: #102040;
  box-shadow: 0 0 10px 0 #102040 inset, 0 0 10px 4px #102040;
}

#following {
  margin-bottom: 20px;
}

#profile-search {
  margin-bottom: 5px;
}

.content-slider .col h4 a {
  color: #0f1e3c !important;
}

#follow a {
  font-size: 12px;
}

#following-col {
  margin-bottom: 10px;
}